@import url('https://fonts.googleapis.com/css?family=B612:400,400i,700,700i&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapIt {
    z-index: 9999;
}

header img {
    height: 80px;
    margin-left: 30px;
    margin-right: 10px;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 0;  
}

.formContainer {
    width: 700px;
    margin: auto;
    padding-top: 0;  
}
.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

body {
    height: 1720px;
    margin-top: 80px;
    font-family: "B612";
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 #000000;  
}
header nav {
    display: flex;
    width: 100%;
    align-items: center;
}

header a {
    margin: 20px;
    color: #000000;
    text-decoration: none;
}

#homepageImage {
    background-image: url(../images/homepage.jpg);
}

main {
    width: 1200px;
    display: flex;
}

main div#imageHeight {
    background-image: url(../images/woods-fist-pump.jpg);
    height: 639px;
    display: flex;
    padding-right: 100px;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}


main div section p {
    font-size: 84px;
    padding: 20px;

}

#bold {
    font-weight: 800;
}

aside {
    height: 610px;
}
aside a {
    height: 300px;
    width: 400px;
    background-color: white; 
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

aside div {
    display: flex;
}

.column {
  height: 200px;
  flex-basis: 25%;
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.column2 {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}


footer {
    height: 500px;
    display: flex;
    background-color: #000000;
    align-items: center;
}

footer div .column {
    text-align: center;
    /* align-items: flex-start; */
     
}

footer div a {
    color: white;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

footer div img {
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 30%;
}

#flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

#white {
    color:white;
}

#social {
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.statsTD {
    border: 1px solid black;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    top: -5px;
    right: 105%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#mainStyle {
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
}

#padBot {
    padding-bottom: 5px;
}

#padTop {
    padding-top: 5px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: grey;
}

#myStatsMain {
    border: 1px solid grey;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#playerProfile {
    height: 300px;
    width: 600px;
    border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#inline {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}

.break {
    flex-basis: 100%;
    height: 0;
}
#handicap {
    border: solid 1px black;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#roundInputMain {
    border: 1px solid grey;
    height: 600px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#myStatsTable {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    border-radius: 5px;
    font-weight: 800;
    padding: 12px 0;
    width: 280px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.bigButton {
    border-radius: 5px;
    font-weight: 800;
    padding: 12px 0;
    width: 280px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


/* Media Queries */ 
@media only screen and (max-width: 1050px){
    .column {
        flex-basis: 50%;
        height: 150px;
    }
}
@media only screen and (max-width: 768px) {
    .column {
        flex-basis: 100%;
        height: 100px;
    }
    .container {
      width: 100%;
      margin: auto;
    }
    .formContainer {
        width: 100%;
        margin: auto;
      }
    
    header .container {
      justify-content: space-around;
      align-items: center;
    }
    header a {
        margin: 10px;
    }
    main div#imageHeight {
        width: inherit;
        background-image: none;
        height: 400px;
        display: flex;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header {
        height: 80px;
        position: fixed;
        background-color: white;
        display: flex;
        align-items: center;
        box-shadow: 0 0 25px 0 #000000;  
    }
    header nav {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    header a {
        margin: 20px;
        color: #000000;
        text-decoration: none;
    }
    
    main {
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: flex-start; */
    }

}