@import url('https://fonts.googleapis.com/css?family=B612:400,400i,700,700i&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header img {
    height: 80px;
    margin-left: 30px;
    margin-right: 10px;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 0;  
}

.formContainer {
    width: 700px;
    margin: auto;
    padding-top: 0;  
}

body {
    height: 1720px;
    margin-top: 80px;
    font-family: "B612";
}

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 #000000;
   
}
header nav {
    display: flex;
    width: 100%;
    align-items: center;
}

header a {
    margin: 20px;
    color: #000000;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#homepageImage {
    background-image: url(../images/homepage.jpg)
}

main {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

main div#imageHeight {
    background-image: url(../images/woods-fist-pump.jpg);
    height: 639px;
    display: flex;
    padding-right: 100px;
    margin: 0;
    align-items: center;
}

main div section p {
    font-size: 84px;
    padding: 20px;

}

#bold {
    font-weight: 800;
}

aside {
    height: 610px;
}
aside a {
    height: 300px;
    width: 400px;
    background-color: blue; 
    border: 1px solid yellow;
}

aside div {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 500px;
    display: flex;
    background-color: #000000;
    align-items: center;
}

footer div .column {
    text-align: center;
    /* align-items: flex-start; */
     
}

footer div a {
    color: white;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

footer div img {
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 30%;
}

#flex {
    display: flex;
}

#white {
    color:white;
}

#social {
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    top: -5px;
    right: 105%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#mainStyle {
    background-color: white;
    height: 1000px;
}

#padBot {
    padding-bottom: 5px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: grey;
}

